
.icon-ok-circle:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-export:before { content: '\e803'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-pause-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-left-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */